footer {
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

        .titularfooter {
            a{
                font-size: 25px;
                text-decoration: none;
                font-weight: 500;
            }
            &:hover{
                transform: scale(1.07);
                transition-duration: 500ms;
            }  
        }

    img {
        width: 60px;
        height: 60px;
        margin: 10px;
    }

    .footer__bajada {
        width: 100%;

        p {
            @include flex (flex, center, center);
        }

        padding-top: 10px;
    }
}