/**-- En este documento se maquetara 9
grillas para abarcar todas las imagenes
que involucren los Proyectos de diseño para visualizarlos
de manera oredenada y en un futuro reemplazar o añadir
mas imagenes conforme el estudio mejore y haga mas
proyectos de diseño**/


/**-- Grilla de Logotipos**/
main{
    .Logotipos__titulo{
        width: 100%;
        padding-top: 25px;
        line-height: 50px;
        text-align: center;
        border-bottom: solid 2px white;
    }
    .caja__logotipos{
        width: 100%;
        margin: auto;
        padding: 30px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 16px;
        }
        .last__child{
            grid-column-end: span 3;
        } 
        img{
            margin: 10px;
            width: auto;
            height: 350px;
            object-fit: fill;
        }
        .first__child{
            display: flex;
            flex-wrap: wrap;
            grid-row-end: span 3;
        }
        .Third__child{
            display: flex;
            flex-wrap: wrap;
            grid-row-end: span 3;
        }
        .remera__child{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            grid-column-end: span 3;
        }
    }
}


/**-- Grilla de Flyers**/







/**-- Grilla de Redes sociales**/
main{
    .redes__box{
        margin: 20px;
        div{
            min-height: 100vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: black;
            border-radius: 16px;
            margin: 20px;
        }
        .redesquitar{
            img{
                width: 39%;
                margin: 20px;
                object-fit: cover;
            }
        }
        img{
            width: 25%;
            margin: 20px;
            object-fit: cover;
        }
    }
}






/**-- Grilla de Remeras**/
main{
    .remera__child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/**-- Grilla de Afiches**/
main{
    .caja__afiches{
        width: 100%;
        max-width: 1500px;
        margin: auto;
        padding: 30px;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 16px;
        }
        img{
            height: 560px;
            padding: 20px;

        }
    }
    

}




/**-- Grilla de branding**/
main{
    .caja__branding{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        div{
            display: flex;
            flex-wrap: wrap;
        }
        img{
            height: 35vh;
            padding: 10px;
        }
    }
    
}



/**-- Grilla de Diseños especiales**/
main{
    .caja__especiales{
        @include flex(flex, space-evenly, space-evenly);
        margin-bottom: 120px;
        padding: 20px;
        gap: 15px;
        .card{
            background-color: $color__principal;
        }


    }
}

/**-- Grilla de Ilustraciones**/
main{
    .organizador__ilustraciones{
        @include flex (flex, space-evenly, space-evenly);
        flex-wrap: wrap;
        .caja__ilustraciones{
            width: 30%;
            @include flex(center, center, center);
            background-color: black;
            padding: 25px;
            margin: 25px;
            border-radius: 16px;
            img{
                height: auto;
            }
        }
        .caja__ilustraciones2{
            width: 30%;
            @include flex(center, center, center);
            background-color: black;
            padding: 25px;
            margin: 25px;
            border-radius: 16px;
            img{
                height: auto;
            }
        }
    }
}

