main{
    .caja__galeria{
        width: 100%;
        height: 100%;
        background-color: black;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                width: auto;
                padding-top: 15px;
                line-height: 50px;
                text-align: center;
                border-bottom: solid 2px white;
            }    
        }
        .caja__galeria__card{
            width: 100%;
            max-width: 1500px;
            margin: auto;
            padding: 20px;
            margin-top: 60px;
            display: grid;
            /**-- estas son filas--**/
            grid-template-rows: auto;
            /**-- estas son columnas**/
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            .grid__item{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 12px;
                }
                &:hover{
                    transform: scale(1.05);
                    transition-duration: 500ms;
                }
            }
        }
    }
}
