/**---Ajuste del header a 990px para que el nav funcione mejor en tablet a movil---**/
@media screen and (max-width:990px) {
    body {
        header {
            .navbar {
                width: 100%;
                padding-top: 46px;
                padding-bottom: 46px;

                img {
                    display: none;
                }
            }
        }
    }
}

/**Ajuste del header y footer para movil***/
@media screen and (max-width:390px) {
    body {
        header {
            .navbar {
                padding-right: 0px;
            }
        }
    }
}
@media screen and (min-width:825){
    footer{
        .footer__bajada{
            p{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:385px){
    footer{
        .footer__img{
            img{
                width: 45px;
                height: 45px;
            }

        }
    }

}


/**---Index responsive---**/

@media screen and (max-width:1366px) {
    main {
        div {
            .bienvenida {
                width: 100%;
                height: auto;
                padding: 20px;
                display: flex;
                flex-direction: row;

                .bienvenida__interior {
                    min-width: 35%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    h1 {
                        font-weight: 700;
                        font-size: 32px;
                        line-height: 1em;
                    }

                    h2 {
                        font-size: 18px;
                    }

                    .bienvenida__texto__realizar {
                        padding-top: 35px;
                    }

                    .bienvenida__texto__dedicar {
                        padding-top: 35px;
                    }

                    .serviciobutton {
                        background-color: #0E62B7;
                        font-weight: 500;
                        font-size: 20px;
                        width: 95%;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 50px;
                        padding: 10px;
                        text-decoration: none;
                        border-radius: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1240px) {
    main {
        div {
            .bienvenida {
                .bienvenida__imagen {
                    height: 100px
                }
            }
        }
    }
}

@media screen and (max-width:910px) {
    .fondo__total {
        .bienvenida {
            .bienvenida__interior {
                align-items: center;
            }
            .bienvenida__imagen {
                img {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width:900px) {
main{
    .fondo__total{
        .bienvenida{
            .bienvenida__interior{
                display: flex;
                justify-content: center;
                align-items: center;
                h2{
                    width: 80%;
                }
            }
        }
        .cajastudio{
            height: 10%;
            img{
                width: 200px;
                height: 200px;
            }
            .cajastudio__interior{
                h2{
                    padding-top: 10px;
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .contenedor__proyecto{
            .contenedor__proyecto__branding{
                width: 100%;
                p{
                    margin-right: 10px;
                }
            }
            .contenedor__proyecto__comunicacion{
                width: 100%;
                p{
                    margin-right: 10px;
                }
            }
            .contenedor__proyecto__logotipo{
                width: 100%;
                p{
                    margin-right: 10px;
                }
            }
            .contenedor__proyecto__web{
                width: 100%;
                p{
                    margin-right: 10px;
                }
            }
        } 
    }
}
  
}


@media screen and (max-width:599px){
    main{
        .fondo__total{
            .bienvenida{
                width: 100%;
                display: flex;
                flex-direction: row;
                background-color: black;
                .bienvenida__interior{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    h1{
                        width: auto;    
                        font-size: 26px;
                    }
                    h2{
                        padding-top: 5px;
                        width: 100px;
                        height: 50px;
                        font-size: 16px;
                    }
                    a{
                        margin-top: 0;
                    }
                }
                .bienvenida__imagen{
                    img{
                        width: 100%;
                    }
                }  
            } 
        }
    }
}

@media screen and (max-width:598px){
    main{
        .fondo__total{
            .bienvenida{
                .bienvenida__interior{
                    flex-direction: row;
                    padding: 5px;
                    h1{
                        width: fit-content;
                        font-size: 22px;
                    }
                    h2{
                        width: fit-content;
                        margin-top: 15px;
                    }
                    .bienvenida__texto__dedicar{
                        padding-top: 20px;
                    }
                    .serviciobutton{
                        width: 400px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width:451px) {
    main{
        .fondo__total{
            .cajastudio{
                gap: 10px;
                padding: 10px;
                flex-wrap: wrap;
                .cajastudio__interior{
                    width: 85%;
                    h2{
                        line-height: 1.5rem;
                    }
                    p{
                        line-height: 1.2rem;
                    }
                } 
            }
        }
        .contenedor__destacado{
            .ajuste__destacado{
                img{
                    width: 280px !important;
                    height: 200px !important;
                }
                .vermas__button{
                    width: 200px;
                }
            }
        }
    }
}

@media screen and (max-width:370px){
    main{
        .fondo__total{
            .cajastudio{
                .cajastudio__interior{
                    h2{
                        font-size: 18px;
                    }
                    p{
                        font-size: 12px;
                    }
                    .cajastudio__interior__texto__final{
                        font-size: 12px;
                        font-weight: 700;
                        
                    }
                }
            }
            .contenedor__proyecto{
                .contenedor__proyecto__branding{
                    h2{
                        padding-top: 10px;
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        text-align: start;
                    }
                }
                .contenedor__proyecto__comunicacion{
                    h2{
                        padding-top: 10px;
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        text-align: start;
                    }

                }
                .contenedor__proyecto__logotipo{
                    h2{
                        padding-top: 10px;
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        text-align: start;
                    }

                }
                .contenedor__proyecto__web{
                    h2{
                        padding-top: 10px;
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 17px;
                        text-align: start;
                    }

                }
            }

        }
    }

}
        




        /**----SECCION DE Proyectos Grilla Media query----**/
        /**---Nuevo ajuste de grilla---***/
        @media screen and (max-width:800px) {
            main {
                .caja__galeria {
                    .caja__galeria__card {
                        width: 95%;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 10px;
                        grid-template-rows: auto;
                    }
                }
            }
        }

        @media screen and (max-width:400px) {
            main {
                .caja__galeria {
                    .caja__galeria__card {
                        width: 100%;
                        grid-auto-rows: auto;
                        grid-template-columns: repeat(1, 1fr);
                        .grid__item {
                            width: 300px;
                            height: 300px;
                            align-self: center;
                        }
                    }
                }
            }
        }

        /**---MediaQuery Servicios Tabla responsive----**/

        @media screen and (max-width: 600px) {
            main {
                section {
                    .contenedor__tabla {
                        .table {
                            border: 0px;

                            caption {
                                font-size: 22px;
                            }

                            thead {
                                display: none;
                            }

                            tr {
                                margin-bottom: 8px;
                                border-bottom: 4px solid gray;
                                display: block;
                            }

                            th,
                            td {
                                font-size: 12px;
                            }

                            td {
                                display: block;
                                border-bottom: 1px solid gray;
                                text-align: right;
                            }

                            td:last-child {
                                border-bottom: 0px;
                            }
                        }
                    }
                }
            }
        }

                /**---MediaQuery Estudio Ajuste tipografico----**/

@media screen and (max-width: 870px) {
    main{
        .servicios__cajatexto{
            h2{
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
                text-align: center;
                line-height: 40px;
            }
        }
    }
    
}
@media screen and (max-width: 300px){
    main{
        .servicios__cajatexto{
            h2{
                font-size: 20px;
                line-height: 22px;

            }
            p{
                font-size: 14px;
                line-height: 16px;
                text-justify: auto;
                padding-top: 14px;
            }
        }
    }
}


                /**---MediaQuery de CONTACTO ADAPTAR----**/

@media screen and (max-width: 776px) {
    main{
        .formulario__contenedor{
            .contacto{
                .contacto__contenedor{
                    width: 80%;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    div{
                        form{
                            gap: 12px;
                            margin: 10px 0;
                        }
                    }
                }

            }

        }
    }
    
}

@media screen and (max-width: 480px) {
    main{
        .formulario__contenedor{
            .contacto{
                .contacto__contenedor{
                    width: 100%;
                    padding: 20px;
                    div{
                        form{
                            gap: 10px;
                            margin: 5px 0;
                        }
                    }
                    .contacto__box{
                        .contacto__data{
                            p{
                                font-size: 16px;
                                i{
                                    font-size: 20px;
                                    margin-right: 5px;
                                }
                            }
                            
                        }
                    }
                }

            }

        }
    }
    
}

@media screen and (max-width: 350px) {
    main{
        .formulario__contenedor{
            .contacto{
                .contacto__contenedor{
                    width: 100%;
                    padding: 15px;
                    .contacto__box{
                        .contacto__data{
                            p{
                                font-size: 16px;
                                i{
                                    font-size: 20px;
                                    margin-right: 5px;
                                }
                            }
                            
                        }
                    }
                }

            }

        }
    }
    
}


                /**---MediaQuery Grillas de Proyectos Importante----**/
/**---LOGOTIPOS----**/
@media screen and (max-width: 1200px) {
    main{
        .caja__logotipos{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img{
                margin: 10px;
                width: 200px;
                height: auto;
                object-fit: fill;
            }
            .last__child{
                width: 600px;
                img{
                    width: 600px;
                }
            }
        }
    }
}
/**---REDES----**/
@media screen and (max-width: 900px) {
    main{
        .redes__box{
            div{
                flex-wrap: wrap;
                flex-direction: column;
            }
            img{
                width: 50%;
            }
        }
    }
    
}
@media screen and (max-width: 500px) {
    main{
        .redes__box{
            div{
                min-height: auto;
            }
            .redesquitar{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    main{
        .caja__logotipos{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            img{
                margin: 10px;
                width: 200px;
                height: auto;
                object-fit: fill;
            }
            .last__child{
                width: 600px;
                img{
                    display: none;
                }
            }
        }
    }
    
}

/**---REMERAS----**/
@media screen and (max-width: 1200px){
    .remera__child{
        img{
            width: 600px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/**---AFICHES----**/
@media screen and (max-width: 1315px){
    main{
        .caja__afiches{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

    }
}
@media screen and (max-width: 450px){
    main{
        .caja__afiches{
            img{
                width: 290px;
                height: 400px;
            }
        }
    }
}

/**---BRANDING----**/

/**---FALTA AJUSTAR ESTE MEDIA QUERI----**/
@media screen and (max-width: 1110px){
    .caja__branding{
        div{
            img{
                height: 25vh;
            }
        }
    }
}
@media screen and (max-width: 739px){
    .caja__branding{
        div{
            img{
                height: 20vh;
            }
        }
    }
}
@media screen and (max-width: 739px){
    .caja__branding{
        flex-direction: column !important;
        margin: 37px;
        div{
            img{
                height: 15vh;
            }
        }
    }
}
@media screen and (max-width: 519px){
    .caja__branding{
        margin: 59px;
        flex-wrap: nowrap !important;
        div{
            img{
                height: 11vh;
            }
        }
    }
}


/**---FALTA AJUSTAR EL MEDIA QUERI DE ESPECIALES HTML----**/
@media screen and (max-width: 590px) {
    .caja__especiales{
        flex-wrap: wrap;
        margin-bottom: 10px !important;
    }
    
}


/**---FALTA AJUSTAR EL MEDIA QUERI DE ILUSTRACIONES HTML----**/
@media screen and (max-width: 1315px){
main{
    .organizador__ilustraciones{
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 120px;
    }
}    
}
@media screen and (max-width: 903px){
    main{
        .organizador__ilustraciones{
            margin-top: 25px;
            margin-bottom: 130px;
            .caja__ilustraciones{
                width: 80%;
            }
            .caja__ilustraciones2{
                width: 80%;
        }    
        }
    }
}
@media screen and (max-width: 680px){
    main{
        .organizador__ilustraciones{
            margin-bottom: 10px;
        }
    }
}